/* DefiWay Landing Page - Additional Benefits Section Styles */

/* Additional Benefits Section */
#dwp .other-benefits-section {
  padding-top: 124px;
  padding-bottom: 120px;
  background: var(--color-black);
  position: relative;
}

#dwp .other-benefits-section .container {
  --other-benefits-background-image: url("/assets/sections/other-benefits/other-benefits-bg-pattern.svg");
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;

  padding: 56px;

  background-image: var(--other-benefits-background-image),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(83, 190, 198, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-size: auto 100%, auto auto, auto auto;
  background-position: right center, 0% 0%, 0% 0%;
  background-repeat: no-repeat;

  border-radius: var(--radius-2xl);
  overflow: hidden;
}

#dwp .other-benefits-section .container::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;

  background: linear-gradient(
    359.85deg,
    rgba(185, 242, 243, 0.2) 0.13%,
    rgba(185, 242, 243, 0) 66.3%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

#dwp .other-benefits-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

#dwp .other-benefits-title {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--font-semibold);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-tight);

  max-width: 414px;
}

#dwp .other-benefits-grid {
  display: grid;
  grid-template-columns: minmax(360px, 1fr) minmax(360px, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 40px 32px;
}

#dwp .other-benefit-item {
  display: flex;
  align-items: center;
  gap: 24px;

  max-width: 360px;
}

#dwp .other-benefit-icon-wrapper {
  flex-shrink: 0;
  
  display: flex;
  width: 56px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

#dwp .other-benefit-icon-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px; /* ring thickness */
  border-radius: 50%;
  background: linear-gradient(
    221.84deg,
    rgba(185, 242, 243, 0.6) -5.86%,
    rgba(185, 242, 243, 0) 74.04%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

#dwp .other-benefit-small-icon {
  width: 24px;
  height: 24px;
}

#dwp .other-benefit-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#dwp .other-benefit-small-title {
  font-weight: var(--font-semibold);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-base);
  color: var(--color-white);
}

#dwp .other-benefit-small-description {
  font-weight: var(--font-light);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  color: rgba(255, 255, 255, 0.7);
}

/* visuals */

#dwp .other-benefits-light-effect {
  position: absolute;
  width: 156px;
  height: 156px;
  right: 224px;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
  background: var(--color-teal);
}

#dwp .other-benefits-light-effect-400 {
  filter: blur(400px);
}

#dwp .other-benefits-light-effect-800 {
  filter: blur(800px);
}

/* 1440 adjustments */
@media (max-width: 1440px) and (min-width: 1024px) {
  #dwp .other-benefits-title {
    max-width: none;
  }
  #dwp .other-benefits-grid {
    max-width: 349px;
    grid-template-columns: 1fr;
    row-gap: 28px;
  }
}

/* Tablet (768) */
@media (max-width: 1023px) and (min-width: 768px) {
  #dwp .other-benefits-section {
    padding-top: var(--space-20);
    padding-bottom: var(--space-20);
  }
  #dwp .other-benefits-section .container {
    border-radius: 40px;

    padding: 44px;
    gap: 48px;


    --other-benefits-background-image: url("/assets/sections/other-benefits/other-benefits-bg-pattern-tablet.svg");
    background-size: 326px 403px, auto auto, auto auto;
    background-position: bottom right, 0% 0%, 0% 0%;
  }
  #dwp .other-benefits-title {
    max-width: none;
    font-size: var(--font-size-28);
    line-height: var(--line-height-40px);
  }
  #dwp .other-benefits-grid {
    max-width: 378px;
    grid-template-columns: 1fr;
    row-gap: 28px;
  }

  #dwp .other-benefit-item {
    max-width: none;
  }

  #dwp .other-benefit-icon-wrapper {
    width: 40px;
    height: 40px;
  }
  #dwp .other-benefit-small-title {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }
  #dwp .other-benefit-small-description {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-base);
  }
}

/* Mobile (375) */
@media (max-width: 767px) {
  #dwp .other-benefits-section {
    padding-top: var(--space-14);
    padding-bottom: var(--space-14);
  }
  #dwp .other-benefits-section .container {
    --other-benefits-background-image: url("/assets/sections/other-benefits/other-benefits-bg-pattern-mobile.svg");

    border-radius: 24px;

    padding: 28px 28px 85vw 28px;
    gap: 28px;

    background-size: 100% auto, auto auto, auto auto;
    background-position: bottom center, 0% 0%, 0% 0%;
  }
  #dwp .other-benefits-section .container::before {
    border-radius: 24px;
  }
  #dwp .other-benefits-title {
    max-width: none;
    font-size: var(--font-size-xl);
    line-height: 36px;
    text-align: center;
  }
  #dwp .other-benefits-grid {
    grid-template-columns: 1fr;
    row-gap: 28px;
  }
  #dwp .other-benefit-item {
    max-width: none;
  }
  #dwp .other-benefit-icon-wrapper {
    width: 48px;
    height: 48px;
  }
  #dwp .other-benefit-small-title {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }
  #dwp .other-benefit-small-description {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-base);
  }
}
